@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  --grey200: #eeee;
  --grey600: #666666;
  --white: #ffffff;
  --black: #000;
  --b800: #171615;
  --orange50: #ffdc97;
  --orange100: #ffbd3e;
  --orange150: #ffbe41;
  --orange200: #fcbf49;
  --orange250: #ffa800;
  --orange400: #ff9000;
  --orange500: #ff7d34;
  --orange600: #fc6a00;
}
